# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and Logs
*.log
logs/
*.cache/
*.egg-info/

# Virtual Environment
venv/
env/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Configuration files with sensitive data
settings_local.py
